<div class="row">
    <div class="col-6">
        {{#each burgers}}
        <div class="indexFormDiv">
            <form>
                <p class="pTag">{{this.id}}. {{this.burger_name}}</p>
                <input id="devourBurgerInput" type="hidden" value="{{this.id}}" name="burger">
                <button id="devourBurgerId" type="button" data-devourid="{{this.id}}" class="btn 
                btn-success devourButton">Eat this burger</button>
                <p class="pTag">{{this.Customer.customer_name}}</p>
            </form>
        </div>
        {{/each}}
    </div>
    <div class="col-6">
        {{#each eatenBurgers}}
        <div class="indexFormDiv">
            <form>
                <p class="pTagTrash">{{this.id}}. {{this.burger_name}}</p>
                <input type="hidden" value="{{this.id}}" name="burger">
                <button id="trashButtonId" type="button" data-trashid="{{this.id}}" class="btn btn-danger trashButton">Throw away your trash</button>
            </form>
        </div>
        {{/each}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="submitForm">
            <form id="burgerAddFormId">
                <input id="burgerInputId" class="orderInput" type="text" name="burger" placeholder="Select or Enter new burger" list="burgerName">
                <datalist id="burgerName">
                    {{#each burgerMenu}}
                    <option value="{{this}}">
                        {{/each}}
                </datalist>
                <input id="nameInputId" class="orderInput" type="text" name="nameInput" placeholder="Select or Enter Customer Name" list="customerName">
                <datalist id="customerName">
                    {{#each customers}}
                    <option value="{{this.customer_name}}">
                        {{/each}}
                </datalist>
                <button id="addBurgerId" type="submit" class="btn btn-primary orderSubmit">Submit</button>
            </form>
        </div>
    </div>
</div>